---
import Layout from '../layouts/Layout.astro';
import SectionPrimary from '../components/SectionPrimary.astro'

---

<Layout title="Portfolio Pedro">
	<main class="w-[80%]  flex justify-center items-center gap-4">
		<SectionPrimary/>
	</main>
</Layout>

