---

---

<button type="button" class=" text-white hover:text-[#FEA55F] font-ligth py-4 px-4 hover:border-0 hover:border-b-2 hover:border-t-2 hover:border-t-transparent  hover:border-b-[#FEA55F] border border-[#1E2D3D] ease-in-out duration-150 ">
    <slot>Texto Buton</slot>
</button>

<style>
    button{
        border-radius: 0 88 0 0;
    }
</style>