---
import Header from '../components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-full min-h-screen bg-background-home-portfolio bg-[#010C15]/75 bg-cover bg-no-repeat object-fit-cover flex items-center justify-center p-12">

		<div class="rounded-lg backdrop-blur-lg container w-full min-h-full mx-auto bg-[#011627]/40 shadow-xl backdrop-filter text-white overflow-hidden border-2 border-[#1E2D3D]">
			<Header/>
			<div class="w-full min-h-[80vh] flex justify-center align-items-center  p-4">
				<slot />
			</div>
		</div>
	</body>
</html>
